.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  gap: 30px;
}

.card {
  width: 250px;
  height: 85px;
  font-size: 10px;
  background-color: #e7fbff;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-shadow: 0px 0px 15px 0px rgba(136, 135, 135, 0.295);
}

p,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

.post {
  color: #9ac2db;
  font-size: 1.5em;
  margin-bottom: 8px;
}

.comment {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: 500;
}

.time {
  color: #a3afb9;
  font-size: 1.2em;
  margin: 4px;
}
