ul {
  list-style: none;
  padding: 0;
}

section {
  margin: 0;
}

.ete:hover {
  color: #03a9f4;
}

.ete {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
  text-align: center;
  color: #7d7d7d;
  margin: 71px 100px;
}

.left {
  margin-left: 315px;
}

.card {
  margin-left: 148px;
  width: 420px;
}

.TextPid {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #b4ad9e;
  display: block;
  margin-top: 62px;
}

.card-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #626262;
  display: block;
  margin-top: 32px;
  margin-bottom: 40px;
}

.card-ma {
  font-family: "Playfair Display";
  font: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #626262;
}

.car-img {
  width: 420px;
  height: 280px;
}
